<div class="actions">
    <div class="container">
        <div class="center">
            <span>
                <a routerLink="/create">
                    <img src="./assets/images/button-add.png" alt="">
                </a>
            </span>
    
            <span>
                <form #form>
                    <input type="file" id="upload" (change)="onChangeInput($event)" name="upload">
                    <label for="upload">
                        <img src="./assets/images/upload.png" alt="">
                    </label>                  
                </form>
            </span>
        </div>
    </div>
</div>
<div class="listForm__save">
    <div class="container">
        <h4>biểu mẫu gần đây</h4>
    </div>
</div>
