.actions {
    background-color: #efefef;
    padding: 30px 0;
    .center {
        display: flex;
        justify-content: center;
    }
}
span {
    margin-right: 30px;
}
img {
    width: 200px;
}
.listForm__save {
    padding: 30px 0;
}
input {
    display: none;
}
label {
    cursor: pointer;
    position: relative;
    display: inline-block;   
}