<div class="preview">
    <div class="container">
        <div class="block__titleForm">
            <h1>{{data.form.question.titleForm}}</h1>
        </div>
        <div class="list_formQuestion" *ngFor="let item of arrQuestion">
            <div class="nameQuestion">{{item.nameQuestion}}</div>
            <ng-container [ngSwitch]="item.type">
                <ng-container *ngSwitchCase="'text'">
                  <div class="option option__text">
                    <mat-form-field>
                        <input matInput type="text" />
                    </mat-form-field>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="'radio'">
                    <div class="list__answer" >
                        <mat-radio-group>
                            <mat-radio-button *ngFor="let option of item.optionQuestion; let indexOption = index" value={{indexOption}}>{{option}}</mat-radio-button>                        
                        </mat-radio-group>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'checkbox'">
                    <div class="list__answer" >
                        <mat-checkbox *ngFor="let option of item.optionQuestion; let indexOption = index" value={{indexOption}}>{{option}}</mat-checkbox>                        
                    </div>    
                </ng-container>
              </ng-container>        
        </div>
    </div>
    
    <div class="button-actions">
        <button mat-stroked-button>Gửi</button>
    </div>
</div>