.preview {
    background-color: #f0ebf8;
    min-height: 100vh;
    padding: 20px 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
.block__titleForm {
    padding: 30px 20px;
    border-top: 7px solid #6520be;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 7px 7px 4px 4px;
}

.list_formQuestion {
    padding: 30px 20px;
    margin: 20px 0 !important;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
.list__answer mat-radio-button,
.list__answer mat-checkbox {
    display: block !important;
    margin-bottom: 15px !important;
}
.nameQuestion {
    margin-bottom: 25px;
}
.button-actions {
    margin-top: 30px;
    text-align: center;
    button, a {
        background-color: #2a2abe;
        color: #fff;
    }
}