<div class="create">
    <div class="container">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="câu hỏi">
                <app-question></app-question>
            </mat-tab>
            <mat-tab label="Câu trả lời"> 
                <app-answer></app-answer>    
            </mat-tab>         
        </mat-tab-group>
    </div>
</div>


  