.add__question {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 999;
    background: transparent;
    cursor: pointer;
    width: 25px;
    height: 25px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid;
    box-sizing: border-box;
    outline: none;
    div {
        font-size: 18px;       
    }
}


.option {
    display: flex;
    align-items: center;
    &__radio, 
    &__checkbox {
        & > div:first-child {
            width: 15px;
            height: 15px;    
            border: 1px solid;
            margin-right: 20px;
            border: 1px solid #918e8e;   
        }
    
        & > div:last-child {
            color: #918e8e;
            &:hover {
                border-bottom: 1px solid #918e8e;   
            }
        }
    }

    &__text {
        div {
            padding-bottom: 5px;
            border-bottom: 1px #918e8e dotted;
            min-width: 250px;
            color: #918e8e;
            cursor: default;
        }
    }
    &__radio {
        & > div:first-child {
            border-radius: 50%;
        }
    }
    &__checkbox {
        & > div:first-child {
            border-radius: 2px;
        }
    }
}

.chooseTypeInpupt {
    &__width {
        max-width: 200px;
    }
    &__flexGrow {
        flex-grow: 0 !important;
    }
}

.button-actions {
    margin-top: 40px;
    text-align: center;
    a, button {
        margin-right: 20px;
        color: #fff;
    }
    #save {
        background-color: #23c723;
    }
    #preview {
        background-color: #9a0dec;        
    }
}

.block__titleForm {
    padding: 30px 20px;
    border-top: 7px solid #6520be;
    background-color: #fdf5f5;
    box-sizing: border-box;
    border-radius: 7px 7px 4px 4px;
    input {
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: 400;
    }
}
.list_formQuestion {
    padding: 30px 20px;
    margin: 20px 0 !important;
    background-color: #fdf5f5;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
.list_formQuestion--flex {
    display: flex;
    margin-bottom: 25px;
    & div:first-child {
        flex-grow: 1;
        margin-right: 40px;
    }
}

.delete__question {
    margin-top: 30px;
    text-align: center;
}