<button class="add__question" (click)="addQuestion()">
  <div>+</div>
</button>

<div class="block__titleForm">
    <mat-form-field>
        <input type="text" matInput value="Mẫu không có tiêu đề" #titleForm />
    </mat-form-field>
</div>

<div class="list_formQuestion"  #formQuestion *ngFor="let question of arrOptionOfQuestion; let i = index ">
    <div class="list_formQuestion--flex">
        <div>
            <mat-form-field>
                <input type="text" matInput placeholder="Câu hỏi" (keyup)="editNameQuestion($event, i)" (blur)="onblurEditNameQuestion($event, i)" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="chooseTypeInpupt__width">
                <mat-label>Chọn type input</mat-label>
                <mat-select (selectionChange)="onChangeTypeInput($event, i)">
                    <mat-option *ngFor="let item of typeInput" [value]="item.value">      
                        {{item.textValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <ng-container [ngSwitch]="question.type">
        <ng-container *ngSwitchCase="'text'">
        <div class="option option__text">
            <div>Viết câu trả lời ngắn</div>
        </div>
        </ng-container>
        <ng-container *ngSwitchCase="'radio'">
        <div class="list__answer" *ngFor="let option of question.optionQuestion; let indexOption = index">
            <div class="option option__radio">
                <div></div>
                <input type="text" [value]="option" (keyup)="editOption($event, i, indexOption)" (blur)="onblurEditOption($event, i, indexOption)" />
                <button mat-icon-button>X</button>
            </div>
        </div>
        <div class="option option__radio">
            <div></div>
            <div (click)="addAnswer('radio', i)">Thêm tuỳ chọn</div>           
        </div>
        </ng-container>
        <ng-container *ngSwitchCase="'checkbox'">
            <div class="list__answer" *ngFor="let option of question.optionQuestion; let indexOption = index">
                <div class="option option__checkbox">
                    <div></div>
                    <input type="text" [value]="option" (keyup)="editOption($event, i, indexOption)" />
                </div>
            </div>
        <div class="option option__checkbox">
            <div></div>
            <div (click)="addAnswer('checkbox', i)">Thêm tuỳ chọn</div>
        </div>
        </ng-container>
    </ng-container>

    <div class="delete__question">
        <button mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>



<!-- === button actions === -->
<div class="button-actions">
    <div id="container"></div>  <br />
    <button mat-stroked-button id="save" (click)="saveForm()">Save Form</button>
    <button mat-stroked-button id="preview" (click)="onPreview()">Preview Form</button>
</div>

