<!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-form-field>
                <input type="text" matInput placeholder="Câu hỏi" />
            </mat-form-field>
        </mat-panel-title>
        
        <mat-panel-description class="chooseTypeInput__flexGrow">
            <mat-form-field class="chooseTypeInpupt__width">
                <mat-label>Chọn type input</mat-label>
                <mat-select [(ngModel)]="typeInputValue" (selectionChange)="onChangeTypeInput()">
                    <mat-option *ngFor="let item of typeInput" [value]="item.value">
                        {{item.textValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-panel-description>
    </mat-expansion-panel-header>
   
    <ng-container [ngSwitch]="typeInputValue">
        <ng-container *ngSwitchCase="'text'">
            <div class="option option__text">                    
               <div>Viết câu trả lời ngắn</div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'radio'">
            <div class="list__answer" #listAnswer></div>
            <div class="option option__radio">
                <div></div>
               <div (click)="addAnswer('radio')">Thêm tuỳ chọn</div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'checkbox'">
            <div class="list__answer" #listAnswer></div>
            <div class="option option__checkbox">
                <div></div>
               <div (click)="addAnswer('checkbox')">Thêm tuỳ chọn</div>
            </div>
        </ng-container>            
    </ng-container>
</mat-expansion-panel> -->