
.option {
    display: flex;
    align-items: center;
    &__radio, 
    &__checkbox {
        & > div:first-child {
            width: 15px;
            height: 15px;    
            border: 1px solid;
            margin-right: 20px;
            border: 1px solid #918e8e;   
        }
    
        & > div:last-child {
            color: #918e8e;
            &:hover {
                border-bottom: 1px solid #918e8e;   
            }
        }
    }

    &__text {
        div {
            padding-bottom: 5px;
            border-bottom: 1px #918e8e dotted;
            min-width: 250px;
            color: #918e8e;
            cursor: default;
        }
    }
    &__radio {
        & > div:first-child {
            border-radius: 50%;
        }
    }
    &__checkbox {
        & > div:first-child {
            border-radius: 2px;
        }
    }
}

.chooseTypeInpupt {
    &__width {
        max-width: 200px;
    }
    &__flexGrow {
        flex-grow: 0 !important;
    }
}
.mat-expansion-panel-header-description {
    flex-grow: 0 !important;
    padding-top: 25px;
}