/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

mat-tab-group .mat-tab-header {
    margin-bottom: 40px;
}
mat-form-field {
    width: 100%;
}
// .mat-expansion-panel-header {
//     height: auto !important;
// }
// mat-expansion-panel {
//     background-color: #f9ecec !important;   
// }
// mat-panel-title mat-form-field {
//     padding: 25px 0 20px 0;
// }

.list__answer {
    & > .option {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &__radio {
            & > div:first-child {
                width: 15px;
                height: 15px;    
                border: 1px solid;
                margin-right: 20px;
                border: 1px solid #918e8e;   
                border-radius: 50%;
            }
            & input {
                width: 80%;
                padding: 3px 0;
                border: none;
                border-bottom: 1px solid #918e8e;
                background: none;
                outline: none;
                &:focus {                
                    border-bottom: 3px solid #9a0dec;
                }
            }
        }

        &__checkbox {
            & > div:first-child {
                width: 15px;
                height: 15px;    
                border: 1px solid;
                margin-right: 20px;
                border: 1px solid #918e8e;   
                border-radius: 2px;
            }
            & input {
                width: 80%;
                padding: 3px 0;
                border: none;
                border-bottom: 1px solid #918e8e;
                background: none;
                outline: none;
                &:focus {                
                    border-bottom: 3px solid #9a0dec;
                }
            }
        }
    }
}

